In [32]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

    Duration  Pulse  Maxpulse  Calories
0       60.0    110     130.0     409.1
1       30.0    109     133.0     195.1
2       45.0     90     112.0       NaN
3       60.0    103     123.0     323.0
4       45.0     97     125.0     243.0
5       60.0    108       NaN     364.2
6       60.0    100     120.0     250.0
7       60.0     92     118.0     241.0
8       60.0    103     132.0       NaN
9       60.0    100     132.0     280.0
10      45.0    107     137.0       NaN
11      30.0     90     107.0     105.3
12     180.0     90     120.0     800.3
13      60.0    105     125.0       NaN
14      60.0    103     124.0     332.7
15      60.0     97     127.0       NaN
16      45.0    100     120.0     250.4
17       NaN    114     150.0     382.8
18      30.0     80     120.0     240.9
19      45.0    100     140.0     280.9
20      60.0    105     140.0     290.8

In [37]:
df.iloc[3]

Duration     60.0
Pulse       103.0
Maxpulse    123.0
Calories    323.0
Name: 3, dtype: float64

In [43]:
df.iloc[:,0]

0      60.0
1      30.0
2      45.0
3      60.0
4      45.0
5      60.0
6      60.0
7      60.0
8      60.0
9      60.0
10     45.0
11     30.0
12    180.0
13     60.0
14     60.0
15     60.0
16     45.0
17      NaN
18     30.0
19     45.0
20     60.0
Name: Duration, dtype: float64

In [40]:
df = pd.read_csv('data.csv')
del df['Pulse']
df

    Duration  Maxpulse  Calories
0       60.0     130.0     409.1
1       30.0     133.0     195.1
2       45.0     112.0       NaN
3       60.0     123.0     323.0
4       45.0     125.0     243.0
5       60.0       NaN     364.2
6       60.0     120.0     250.0
7       60.0     118.0     241.0
8       60.0     132.0       NaN
9       60.0     132.0     280.0
10      45.0     137.0       NaN
11      30.0     107.0     105.3
12     180.0     120.0     800.3
13      60.0     125.0       NaN
14      60.0     124.0     332.7
15      60.0     127.0       NaN
16      45.0     120.0     250.4
17       NaN     150.0     382.8
18      30.0     120.0     240.9
19      45.0     140.0     280.9
20      60.0     140.0     290.8

In [39]:
df.iloc[19]

Duration     45.0
Pulse       100.0
Maxpulse    140.0
Calories    280.9
Name: 19, dtype: float64

In [48]:
 
df.to_csv("test.csv")

In [49]:
f = open("demofile3.txt", "w")
f.write(df.to_string())
f.close()

#open and read the file after the appending:
f = open("demofile3.txt", "r")
print(f.read())

    Duration  Maxpulse  Calories
0       60.0     130.0     409.1
1       30.0     133.0     195.1
2       45.0     112.0       NaN
3       60.0     123.0     323.0
4       45.0     125.0     243.0
5       60.0       NaN     364.2
6       60.0     120.0     250.0
7       60.0     118.0     241.0
8       60.0     132.0       NaN
9       60.0     132.0     280.0
10      45.0     137.0       NaN
11      30.0     107.0     105.3
12     180.0     120.0     800.3
13      60.0     125.0       NaN
14      60.0     124.0     332.7
15      60.0     127.0       NaN
16      45.0     120.0     250.4
17       NaN     150.0     382.8
18      30.0     120.0     240.9
19      45.0     140.0     280.9
20      60.0     140.0     290.8

In [14]:
import pandas as pd

df = pd.read_csv('bill2.csv')
#df["rate"] = df["rate"].str.replace("$","")

print(df.to_string())
max_x = df.loc[df['rate'].idxmax()]
print ("Maximum value of column ", 'rate', " and its corresponding row values:\n", max_x)

type(max_x)

    name  rate
0    one     1
1    two     2
2  thre      3
Maximum value of column  rate  and its corresponding row values:
 name    thre
rate        3
Name: 2, dtype: object

pandas.core.series.Series

In [46]:
import pandas as pd

df = pd.read_csv('bill.csv') 
df["rate"] = df["rate"].str.replace("$","")

#print(df.to_string())

"""
df3= df['rate'].str.isnumeric()
df['rate'].to_csv("new.csv")
df4 = df.query("rate == '32'")
df4
 

type(max_x)
"""
df.dropna(inplace=True)
df["rate"] = pd.to_numeric(df["rate"])
max_x = df.loc[df['rate'].astype(int).idxmax()]

print ("Maximum value of column ", 'rate', " and its corresponding row values:\n", max_x)

Maximum value of column  rate  and its corresponding row values:
 name    Data Scientist - Lead 8+ Years
rate                                170
Name: 322, dtype: object