In [1]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\adil\appdata\roaming\python\python39\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\adil\appdata\roaming\python\python39\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
print('Pyspark');
import pyspark
#pyspark --version

Pyspark

In [3]:
import pyspark
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[*]") \
                    .appName('BigData-ETL.com') \
                    .getOrCreate()

print(f'The PySpark {spark.version} version is running...')

The PySpark 3.5.1 version is running...

In [9]:
spark

In [18]:
path = ['C:/Gayaz/python/PySpark/test.csv']
 
df = spark.read.csv(path, sep='\t',
                       inferSchema=True, header=True)  #inferSchema=true if this not there all feilds are strings
spark.read.option('header','true')
 
# df1 = files.toPandas()
# display(df1.head())
# display(df1.tail())
df.show();
print(type(df))

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 30|         5|
|  Sid| 25|         9|
| Mary| 41|         6|
+-----+---+----------+

<class 'pyspark.sql.dataframe.DataFrame'>

In [21]:
type(df)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
df.select('Name').show()

+-----+
| Name|
+-----+
|Krish|
|  Sid|
| Mary|
+-----+

In [30]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [32]:
df.describe().show()

+-------+-----+----------------+------------------+
|summary| Name|             Age|        Experience|
+-------+-----+----------------+------------------+
|  count|    3|               3|                 3|
|   mean| NULL|            32.0| 6.666666666666667|
| stddev| NULL|8.18535277187245|2.0816659994661326|
|    min|Krish|              25|                 5|
|    max|  Sid|              41|                 9|
+-------+-----+----------------+------------------+

In [19]:
#add column
dfnew = df.withColumn("Experience + 2",df['Experience']+2)
dfnew.show()
#drop column
dfnew.drop('Age').show()

+-----+---+----------+--------------+
| Name|Age|Experience|Experience + 2|
+-----+---+----------+--------------+
|Krish| 30|         5|             7|
|  Sid| 25|         9|            11|
| Mary| 41|         6|             8|
+-----+---+----------+--------------+

+-----+----------+--------------+
| Name|Experience|Experience + 2|
+-----+----------+--------------+
|Krish|         5|             7|
|  Sid|         9|            11|
| Mary|         6|             8|
+-----+----------+--------------+

+-----+---+----------+--------------+
| Name|Age|Experience|Experience + 2|
+-----+---+----------+--------------+
|Krish| 30|         5|             7|
|  Sid| 25|         9|            11|
| Mary| 41|         6|             8|
+-----+---+----------+--------------+

In [5]:
df.head(1)

[Row(Name='Krish', Age=30, Experience=5)]

In [6]:
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 30|         5|
|  Sid| 25|         9|
| Mary| 41|         6|
+-----+---+----------+

In [9]:
newf = df.select('Name','Experience')
type(newf)

newf.show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Krish|         5|
|  Sid|         9|
| Mary|         6|
+-----+----------+

In [10]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [11]:
df.describe().show()

+-------+-----+----------------+------------------+
|summary| Name|             Age|        Experience|
+-------+-----+----------------+------------------+
|  count|    3|               3|                 3|
|   mean| NULL|            32.0| 6.666666666666667|
| stddev| NULL|8.18535277187245|2.0816659994661326|
|    min|Krish|              25|                 5|
|    max|  Sid|              41|                 9|
+-------+-----+----------------+------------------+