In [1]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\adil\appdata\roaming\python\python39\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\adil\appdata\roaming\python\python39\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
print('Pyspark');
import pyspark
#pyspark --version

Pyspark

In [1]:
import pyspark
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[*]") \
                    .appName('BigData-ETL.com') \
                    .getOrCreate()

print(f'The PySpark {spark.version} version is running...')

path = ['C:/Gayaz/python/PySpark/test.csv']
 
df = spark.read.csv(path, sep=',', #sep='\t' tab
                       inferSchema=True, header=True)  #inferSchema=true if this not there all feilds are strings
spark.read.option('header','true')
# df1 = files.toPandas()
# display(df1.head())
# display(df1.tail())
df.show();
print(type(df))

The PySpark 3.5.1 version is running...
+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Krish|  30|         5| 10000|
|   Sid|  25|         9| 50000|
|  Mary|  41|        16| 75000|
|Mahesh|NULL|        16| 90000|
|   Sam|  32|      NULL| 70000|
|  Miss|  29|        12|  NULL|
|      |NULL|      NULL|  NULL|
|   pan|NULL|      NULL|  NULL|
+------+----+----------+------+

<class 'pyspark.sql.dataframe.DataFrame'>

In [3]:
spark

In [21]:
type(df)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [33]:
from pyspark.sql.functions import mean as mean_, std as std_
ff = df.select('Age')
ff
print(type(ff))
mean = ff[0]['mean']
mean

<class 'pyspark.sql.dataframe.DataFrame'>

Column<'Age[mean]'>

In [30]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [32]:
df.describe().show()

+-------+-----+----------------+------------------+
|summary| Name|             Age|        Experience|
+-------+-----+----------------+------------------+
|  count|    3|               3|                 3|
|   mean| NULL|            32.0| 6.666666666666667|
| stddev| NULL|8.18535277187245|2.0816659994661326|
|    min|Krish|              25|                 5|
|    max|  Sid|              41|                 9|
+-------+-----+----------------+------------------+

In [12]:
#add column
dfnew = df.withColumn("Experience + 2",df['Experience']+2)
dfnew.show()
#drop column
dfnew.drop('Age').show()

#rename
df.withColumnRenamed('Name','New Name').show()

+-----+---+----------+--------------+
| Name|Age|Experience|Experience + 2|
+-----+---+----------+--------------+
|Krish| 30|         5|             7|
|  Sid| 25|         9|            11|
| Mary| 41|         6|             8|
+-----+---+----------+--------------+

+-----+----------+--------------+
| Name|Experience|Experience + 2|
+-----+----------+--------------+
|Krish|         5|             7|
|  Sid|         9|            11|
| Mary|         6|             8|
+-----+----------+--------------+

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Krish| 30|         5|
|     Sid| 25|         9|
|    Mary| 41|         6|
+--------+---+----------+

In [5]:
df.head(1)

[Row(Name='Krish', Age=30, Experience=5)]

In [6]:
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 30|         5|
|  Sid| 25|         9|
| Mary| 41|         6|
+-----+---+----------+

In [9]:
newf = df.select('Name','Experience')
type(newf)

newf.show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Krish|         5|
|  Sid|         9|
| Mary|         6|
+-----+----------+

In [10]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [11]:
df.describe().show()

+-------+-----+----------------+------------------+
|summary| Name|             Age|        Experience|
+-------+-----+----------------+------------------+
|  count|    3|               3|                 3|
|   mean| NULL|            32.0| 6.666666666666667|
| stddev| NULL|8.18535277187245|2.0816659994661326|
|    min|Krish|              25|                 5|
|    max|  Sid|              41|                 9|
+-------+-----+----------------+------------------+

In [16]:
#drop null
df.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 30|         5|  1000|
|  Sid| 25|         9|  5000|
| Mary| 41|        16|  7500|
+-----+---+----------+------+

In [8]:
#threshold  three nulls
df.na.drop(how="any", thresh=3).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Krish|  30|         5|  1000|
|   Sid|  25|         9|  5000|
|  Mary|  41|        16|  7500|
|Mahesh|NULL|        16|  9000|
|   Sam|  32|      NULL| 70000|
|  Miss|  29|        12|  NULL|
+------+----+----------+------+

In [35]:
df.na.drop(how="any", subset=['Age']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 30|         5|  1000|
|  Sid| 25|         9|  5000|
| Mary| 41|        16|  7500|
|  Sam| 32|      NULL| 70000|
| Miss| 29|        12|  NULL|
+-----+---+----------+------+

In [42]:
#fill check the type of the values

df.na.fill(12345,['Experience']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Krish|  30|         5|  1000|
|   Sid|  25|         9|  5000|
|  Mary|  41|        16|  7500|
|Mahesh|NULL|        16|  9000|
|   Sam|  32|     12345| 70000|
|  Miss|  29|        12|  NULL|
|      |NULL|     12345|  NULL|
|   pan|NULL|     12345|  NULL|
+------+----+----------+------+

In [7]:
#mean
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols = ["{}_imputed".format(a) for a in ['Age', 'Experience', 'Salary']]
).setStrategy("mean") # median mode mean
df_null_pyspark= df;

imputer.fit(df_null_pyspark).transform(df_null_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
| Krish|  30|         5|  1000|         30|                 5|          1000|
|   Sid|  25|         9|  5000|         25|                 9|          5000|
|  Mary|  41|        16|  7500|         41|                16|          7500|
|Mahesh|NULL|        16|  9000|         31|                16|          9000|
|   Sam|  32|      NULL| 70000|         32|                11|         70000|
|  Miss|  29|        12|  NULL|         29|                12|         18500|
|      |NULL|      NULL|  NULL|         31|                11|         18500|
|   pan|NULL|      NULL|  NULL|         31|                11|         18500|
+------+----+----------+------+-----------+------------------+--------------+

In [19]:
#mean
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age'],
    outputCols = ["{}_imputed".format(a) for a in ['Age']]
).setStrategy("mean") # median mode mean
df_null_pyspark = df.drop('Experience','Salary') 

imputer.fit(df_null_pyspark).transform(df_null_pyspark).show()

+------+----+-----------+
|  Name| Age|Age_imputed|
+------+----+-----------+
| Krish|  30|         30|
|   Sid|  25|         25|
|  Mary|  41|         41|
|Mahesh|NULL|         31|
|   Sam|  32|         32|
|  Miss|  29|         29|
|      |NULL|         31|
|   pan|NULL|         31|
+------+----+-----------+

In [10]:
from pyspark.sql.functions import mean as _mean, stddev as _stddev, col

df_stats = df.select(
    _mean(col('Age')).alias('mean'),
    _stddev(col('Age')).alias('std')
).collect()

mean = df_stats[0]['mean']
std = df_stats[0]['std']
mean

31.4

In [21]:
#filter
df.filter("Salary > 2000").select(["Name","Age"]).show()
df

df.filter((df['Salary'] > 10000) & (df['Age'] > 40)).show()
#& and
# | or
#~ not

+------+----+
|  Name| Age|
+------+----+
| Krish|  30|
|   Sid|  25|
|  Mary|  41|
|Mahesh|NULL|
|   Sam|  32|
+------+----+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Mary| 41|        16| 75000|
+----+---+----------+------+

In [2]:
#Groupby and Aggregation

path = ['C:/Gayaz/python/PySpark/test3.csv']
 
df = spark.read.csv(path, sep=',', #sep='\t' tab
                       inferSchema=True, header=True)  #inferSchema=true if this not there all feilds are strings
spark.read.option('header','true') 
df.show();
print(type(df))

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

<class 'pyspark.sql.dataframe.DataFrame'>

In [7]:
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [13]:
df.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [8]:
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [9]:
df.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [11]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [12]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+